/* This file is for your main application CSS */
@import "./phoenix.css";

.state {
    margin-bottom: 3vh;
}

.state.initializing { color: #d883c5 }
.state.good-guess   { color: green }
.state.bad-guess    { color: coral }
.state.won          { color: dark-green; font-weight: bold }
.state.lost         { color: crimson; font-weight: bold }
.state.already-used { color: #caa }
.state.invalid      { color: red }


.tally th {
    font-weight: normal;
    color:       #aaa;
}

.tally td {
    font-weight:  bold;
    font-size:    2rem;
    font-spacing: 0.25rem;
}

form input {
    max-width:    4rem;
    font-size:    2rem;
    font-weight:  bold:
}
